.input{
	font-size:1.5rem;
    padding: 1.5rem 2rem;
    border-radius:2px;
    background-color: rgba(rgb(3, 95, 26),0.6);
    border:none;
     border-bottom: 3px solid ;
     width:90%;
     display:block;
}
.input:focus{
	outline: none;
      box-shadow: 0 1rem 2rem rgba(black,.2);
      border-bottom: 3px solid rgba(rgb(56, 235, 1),.8);
}
